{
	"project_id" : "docker-1111111",
	"source_image_family" : "ubuntu-1604-lts",
        "machine_type": "f1-micro",
        "zone": "europe-west1-b",
        "image_description" : "docker-host image otus-devops 2019-02",
        "disk_size" : "10",
        "disk_type" : "pd-standard",
        "network" : "default",
        "tags" : "docker-machine",
        "ssh_username" : "username"
}
